n8n-automation/workflows/internal/trial-onboarding.json
{
  "name": "Trial User Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendly-trial",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Calendly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "calendly-trial-booking"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "customers",
        "columns": "name,email,phone,business_type,plan_type,trial_start_date,trial_end_date,status",
        "additionalFields": {}
      },
      "id": "create-customer",
      "name": "Create Customer in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM}}",
        "toEmail": "={{$json.email}}",
        "subject": "Welcome to Your 7-Day Vexel Logic Trial! 🚀",
        "emailType": "html",
        "message": "<h1>Welcome {{$json.name}}!</h1><p>Your 7-day free trial starts NOW. Here's what happens next:</p><ul><li>✅ We'll set up your account within 48 hours</li><li>✅ You'll get full access to all 3 modules</li><li>✅ On Day 5, we'll check in with your results</li></ul><p><strong>Your trial ends:</strong> {{$json.trial_end_date}}</p><p><a href='https://vexellogic.com/dashboard'>Access Your Dashboard</a></p><p>Questions? Reply to this email.</p><p>- Ben @ Vexel Logic</p>"
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [750, 200],
      "credentials": {
        "sendGridApi": {
          "id": "2",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "options": {},
        "bodyParametersJson": "={\n  \"text\": \"🎉 NEW TRIAL SIGNUP!\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*New Trial User*\\n*Name:* {{$json.name}}\\n*Email:* {{$json.email}}\\n*Phone:* {{$json.phone}}\\n*Business:* {{$json.business_type}}\\n*Trial Ends:* {{$json.trial_end_date}}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"View in Supabase\"\n          },\n          \"url\": \"https://app.supabase.com/project/YOUR_PROJECT/editor\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 400],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Trial user created successfully\"}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate trial dates\nconst now = new Date();\nconst trialEnd = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000);\n\n// Extract Calendly data\nconst calendlyData = $input.item.json;\n\nreturn {\n  name: calendlyData.invitee.name,\n  email: calendlyData.invitee.email,\n  phone: calendlyData.invitee.phone || '',\n  business_type: calendlyData.questions_and_answers?.[0]?.answer || 'Unknown',\n  plan_type: 'trial',\n  trial_start_date: now.toISOString(),\n  trial_end_date: trialEnd.toISOString(),\n  status: 'trial_active',\n  created_at: now.toISOString()\n};"
      },
      "id": "transform-data",
      "name": "Transform Calendly Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [375, 300]
    }
  ],
  "connections": {
    "Calendly Webhook": {
      "main": [
        [
          {
            "node": "Transform Calendly Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Calendly Data": {
      "main": [
        [
          {
            "node": "Create Customer in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer in Supabase": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-01T00:00:00.000Z",
  "versionId": "1"
}

